@import "tailwindcss";

:root {
  --color-primary: #8B1A1A;
  --color-background: #FDF8F0;
  --color-gold: #D4AF37;
  --color-green: #2D6A2D;
  --color-dark: #2C2C2A;
  --color-muted: #717182;
}

body {
  background-color: var(--color-background);
  color: var(--color-dark);
}